* {
    margin: 0px 0px;
    box-sizing: border-box;
}

h1{
    font-size: 80px;
    color: rgb(252, 7, 15);
    background-image: linear-gradient(white,black);
    padding: 0px 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 1, 1);
}

#container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 390px;
    border-radius: 5px;
    padding: 18px 25px;
    background-image: linear-gradient(rgb(42, 222, 235),rgb(239, 116, 116));
       
}


h3 {
    margin-top: 10px;
    font-size: x-large;
}

.set-alarm-field {
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.set-alarm-field input[type=number] {
    width: 30%;
    padding: 12px 20px;
    margin: 10px 0px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.set-alarm {
    background-color: dodgerblue;
    color: rgb(241, 236, 236);
    font-weight: bolder;

}

.set-alarm:hover {
    background-color: rgb(8, 16, 248);
}

.clear-alarm {
    background-color: azure;
    border: 1px solid black;
}

.clear-alarm:hover {
    background-color: dodgerblue;
    color: white;
}

.buttons button {
    margin: 10px 0px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#upcoming-alarms {
    width: 100%;
}

#upcoming-alarms-list {
    list-style: none;
    width: 100%;
    padding: 0px 30px;
}

#upcoming-alarms-list li {
    margin: 30px 0px;
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.time-list button {
    background-color: rgb(8, 8, 8);
    color: #fff;
    height: 28px;
    border-radius: 3px;
    cursor: pointer;
}

input{
    background-color: rgb(230, 211, 213);
    color: rgb(0, 0, 0);
}